.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 20px;
}
.article-container {
  max-width: 900px;
  margin: 40px auto 10px;
  padding: 0 15px;
  font-size: 20px;
  line-height: 1.7;
  color: #333;
}